body {
    margin: 0;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a,li {
    cursor: pointer;
}
/* Style of header */
div.header {
    background-color:white;
    box-shadow: 0 1px 10px black;
    z-index:2;
    position: relative;
}
div.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
div.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.header ul li{
    float:left;
}
div.header a{
    text-decoration: none;
    font-size:1.5rem;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* Style of header button on the left */
div.header a.leftButton{
    background-color: white;
    color:black;
    padding:1.5em 0.5em 1.5em 1em;
    text-align: center;
}
div.header a.leftButton:hover {
    background-color: #04aa6d;
    color: white;
}
div.header a.leftButton i{
    font-size: 1.8em;
    vertical-align: middle;
}
#home-image{
    height:80px;
    width:95px;
    margin: 0.7em 1.3em 0.5em 1.2em;
}
#video{
    padding:1.75em 0.8em 1.9em 1em;
}
/* Style of header button on the right */
div.header ul li:nth-last-child(-n+4) {
    float:right;
}
div.header a.rightButton{
    margin: 1em 1em 1em 0.01em;
    border-radius: 1.5em;
    color:black;
}
#logIn{
    background-color: #04aa6d;
    padding: 0.8em 2.55em;
    color: white;
}
#logIn:hover{
    background-color: #059862;
}
#freeWebsite{
    background-color: #fff4a3;
    padding: 0.8em 1.6em;
}
#freeWebsite:hover{
    background-color: #fff080;
}
#certified{
    background-color: #ffc0c7;
    padding: 0.8em 1.1em;
}
#certified:hover{
    background-color: #ffb3bb;
}
#upgrade{
    background-color: black;
    color: white;
    padding: 0.8em 1em;
}
#upgrade:hover{
    background-color: #616161;
}

/* Style of navigation bar */
nav.nav_bar{
    clear:both;
    background-color:#282a35;
    color:white;
    position: relative;
    z-index: 1;
    position:sticky;
    top:0;
}
nav.nav_bar ul{
    display:flex;
    box-shadow: 0 1px 10px black;
    align-items: center;
    height: 4rem;
}
nav.nav_bar ul li{
    list-style-type: none;
}
nav.nav_bar ul li:hover{
    background-color: #000000;
}
nav.nav_bar ul li.icon{
    padding: 0.8em 1em 0.8em 1em;
}
nav.nav_bar ul li.text{
    padding: 1.25em 1.3em 1.1em 1.3em
}
nav.nav_bar ul li:nth-last-child(3) {
    margin-left: auto;
}
nav.nav_bar ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}
nav.nav_bar ul li a span{
    font-size: 2rem;
    padding-top: 0.3rem;
}
nav.nav_bar ul li.CSS{
    background-color: #04aa6d;
}
nav.nav_bar ul li.drop_down{
    position: relative;
}
nav.nav_bar ul li.drop_down:hover .drop_content{
    height: 6rem;
}
nav.nav_bar ul div.drop_content{
    position: absolute;
    left: 0;
    top: 100%;
    width: 290%;
    background-color: #282a35;
    color: white;
    height: 0rem;
    overflow: hidden;
    transition: height 0.1s;
}
nav.nav_bar ul div.drop_content a{
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 0.7em 1em;
}
nav.nav_bar ul div.drop_content a:first-child{
    padding-bottom: 0;
}
nav.nav_bar ul div.drop_content a span{
    font-size: 1rem;
    background-color: white;
    vertical-align: baseline;
    margin-right: 0.5em;
}
/* Style of left side bar */
.flex-column{
    display: flex;
    background-color: #e7e9eb;
}

.flex-column .left-sidebar{
    background-color: #e7e9eb;
    width: 19rem;
    max-height: 62rem;
    position: sticky;
    top: 4.3rem;
    overflow: auto;
    flex-shrink: 0;
}
.flex-column .left-sidebar p{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: thin;
    padding: 1em;
    padding-top: 1.2em;
    padding-bottom: 0.35em;
}
.flex-column .left-sidebar a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.3em 1.45em;
}
.flex-column .left-sidebar a:hover{
    background-color: #cccccc;
}
.flex-column .left-sidebar a.selected{
    background-color: #04aa6d;
    color: white;
}

/* Style of middle content */
.flex-column .main{
    background-color: red;
    height: 200rem;
    flex-grow: 1;
}

/* Style of right side bar */
.flex-column .right-sidebar{
    background-color: green;
    width:20rem;
    flex-shrink: 0;
}
