body {
    margin: 0;
    display:grid;
    grid-template-areas: 
        'header header header'
        'nav_bar nav_bar nav_bar'
        'left_side_bar main right_side_bar'
        'left_side_bar footer footer';
    grid-template-columns: 21rem 1fr 14.5%;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a,li {
    cursor: pointer;
}

/* style of all links of the page */
.link {
    color: black;
    display: block;

}
.link:hover {
    color: #059862;
}

/*Style of all buttons of the page */
.button {
    background-color: #04aa6d;
    color: white;
    text-decoration: none;
    font-weight: 700; 
    display: inline-block;
}
.button:hover {
    background-color:#059862;
    color: white;
}
/*Style of all hrs */
.divider {
    border: 1px solid #eeeeee;
    margin: 2rem;
}

/* Style of header */
.header {
    background-color:white;
    box-shadow: 0 1px 10px black;
    z-index:2;
    position: relative;
    grid-area: header;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header li{
    float:left;
}
.header a{
    text-decoration: none;
    font-size:1.5rem;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
    /* Style of header button on the left */
.header .leftButton{
    background-color: white;
    color:black;
    padding:1.5em 0.5em 1.5em 1em;
    text-align: center;
}
.header .leftButton:hover {
    background-color: #04aa6d;
    color: white;
}
.header .leftButton i{
    font-size: 1.8em;
    vertical-align: middle;
}
#menu {
    display: none;
}
#home-image{
    height:80px;
    width:95px;
    margin: 0.7em 1.3em 0.5em 1.2em;
}
#video{
    padding:1.75em 0.8em 1.9em 1em;
}
    /* Style of header button on the right */
.header li:nth-last-child(-n+4) {
    float:right;
}
.header .rightButton{
    margin: 1em 1em 1em 0.01em;
    border-radius: 1.5em;
    color:black;
}
#logIn{
    background-color: #04aa6d;
    padding: 0.8em 2.55em;
    color: white;
}
#logIn:hover{
    background-color: #059862;
}
#freeWebsite{
    background-color: #fff4a3;
    padding: 0.8em 1.6em;
}
#freeWebsite:hover{
    background-color: #fff080;
}
#certified{
    background-color: #ffc0c7;
    padding: 0.8em 1.1em;
}
#certified:hover{
    background-color: #ffb3bb;
}
#upgrade{
    background-color: black;
    color: white;
    padding: 0.8em 1em;
}
#upgrade:hover{
    background-color: #616161;
}

/* Style of navigation bar */
.nav_bar{
    background-color:#282a35;
    color:white;
    position: relative;
    z-index: 1;
    position:sticky;
    top:0;
    grid-area: nav_bar;
}
.nav_bar ul{
    display:flex;
    box-shadow: 0 1px 10px black;
    align-items: center;
    height: 4rem;
}
.nav_bar li{
    list-style-type: none;
}
.nav_bar li:hover{
    background-color: #000000;
}
.nav_bar li.icon{
    padding: 0.8em 1em 0.8em 1em;
}
.nav_bar li.text{
    padding: 1.25em 1.3em 1.1em 1.3em
}
.nav_bar li:nth-last-child(3) {
    margin-left: auto;
}
.nav_bar a{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}
.nav_bar span{
    font-size: 2rem;
    padding-top: 0.3rem;
}
.nav_bar li.CSS{
    background-color: #04aa6d;
}
.nav_bar .menu {
    display: none;
}
.nav_bar li.drop_down{
    position: relative;
}
.nav_bar li.drop_down:hover .drop_content{
    height: 6rem;
}
.nav_bar .drop_content{
    position: absolute;
    left: 0;
    top: 100%;
    width: 290%;
    background-color: #282a35;
    color: white;
    height: 0rem;
    overflow: hidden;
    transition: height 0.1s;
}
.nav_bar .drop_content a{
    display: block;
    font-size: 1.3rem;
    font-weight: normal;
    padding: 0.7em 1em;
}
.nav_bar .drop_content a:first-child{
    padding-bottom: 0;
}
.nav_bar .drop_content span{
    font-size: 1rem;
    background-color: white;
    vertical-align: baseline;
    margin-right: 0.5em;
}

/* Style of left side bar */
.left-sidebar{
    background-color: #e7e9eb;
    width: 100%;
    height: 95vh;
    position: sticky;
    top: 4.3rem;
    overflow: auto;
    grid-area: left_side_bar;
}
.left-sidebar p{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: thin;
    padding: 1em;
    padding-top: 1.2em;
    padding-bottom: 0.35em;
}
.left-sidebar a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.3em 1.45em;
}
.left-sidebar a:hover{
    background-color: #cccccc;
}
.left-sidebar .selected{
    background-color: #04aa6d;
    color: white;
}
.left-sidebar .selected:hover {
    background-color: #04aa6d;
}

/* Style of middle main content */
.main{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: thin;
    border: 2px solid #f1f1f1;
    grid-area: main;
    margin: 0;
    padding: 0;
}
    
    /*Style of all buttons element in main content*/
.main .button{ 
    border-radius: 7px;
}
    /*Style of all text element in main content*/
.main .text{ 
    padding: 0.7em 2em;
    font-size: 1.4rem;
}
    /*style of all icons in main content */
.main .icon {
    display: inline-block;
    vertical-align: -5px;
    font-size:1.3rem;
    font-weight: 100;
}
    /*style of all titles in main content */
.main .title {
    font-size: 2.9rem;
    margin: 1em 1em 0.5em 0.9em;
}
    /* Style of all subtitles in main content */
.main .subtitle {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}

.main .head{
    font-size: 4rem;
    font-weight: 100;
    padding: 0.8em;
    padding-bottom: 0.4em;
}

.container-head{
    display: flex;
}
.container-head .button{
    font-size: 1.5rem;
    padding: 0.8em 1em;
}
.container-head .left{
    margin-left: 1.9em;
}
.container-head .right{
    margin-left: auto;
    margin-right: 1.9em;
}
.container-head .icon{
    display:inline-block;
    vertical-align: -2px;
    font-weight:900;
}

.start{
    background-color: #d9eee1;
    margin-top:2.2rem;
}
.start p:first-child{
    padding-top: 3em;
}
.start a {
    display: inline-block;
    padding: 0.7em 1.3em 0.7em 1.5em;
    margin-top:0.7em;
    margin-left:2em;
    margin-bottom:2.2em;
    font-size:1.6rem;
}

.code-example {
    background-color: #e7e9eb;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 2.4rem 1.8rem 2.5rem 1.8rem;
}
.code {
    background-color: white;
    padding: 1rem;
    border-left: 7px solid #04aa6d;
    margin-bottom: 1.7rem;
}
.code pre {
    font-size: 1.3rem;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.7em;
}
.try {
    padding: 0.7em 1em;
    font-size: 1.4rem;
    font-weight: bold;
}
.try .icon {
    margin-left: 5px;
}
.main .instruction {
    font-weight: 900;
    margin-bottom: 0.7em;
}

.main .black-white {
    color: black;
    background-color: #e7e9eb;
    padding: 0.8em 1em;
    font-size: 1.3rem;
    margin-top: 1em;
    margin-left: 2em;
}

.main .char-icon {
    font-size: 2.2rem;
}

.main .link {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 1.9em;
    margin-top: 0.5em;
}

.ref-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.4rem;
    margin: 0.8rem 2.6rem 5rem 2.6rem;
}

.ref-grid a {
    display: block;
    text-decoration: none;
    color: #555555;
    background-color: #e7e9eb;
    text-align: center;
    font-size:1.5rem;
    padding: 1.4em 0;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}
.ref-grid a:hover {
    background-color: #282a35;
    color: white;
}

.get-start {
    background-color: #282a35;
    padding: 6rem;
    margin: 3rem;
    border-radius: 20px;
    margin-bottom: 10rem;
}
.get-start p {
    color: #ffc0c7;
}
.get-start .title {
    font-size: 4.5rem;
    font-weight: bold;
    padding-bottom: 1.4em;
    margin:0;
}
.get-start .subtitle {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1.4em;
}
.get-start .button {
    font-size: 1.4rem;
    padding: 1.7em 4.2em;
    border-radius: 50px;
}
#end_nav {
    margin-bottom: 5rem;
}


/* Style of right side bar */
.right-sidebar{
    border-bottom: 2px solid #f1f1f1;
    grid-area: right_side_bar;
}
.right-sidebar img{
    display: block;
    margin: auto;
}
#make-progress {
    width: 68%;
    margin: 5rem auto 5rem auto;
}
.right-sidebar .link {
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: .5rem;
}
#hexagon {
    width: 40%;
    margin-bottom: 2rem;
}
#get-certified {
    width: 95%;
    border-radius: 10px 10px 0 0;
}
.right-sidebar .button {
    font-size: 1.5rem;
    width: 95%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3rem;
}
#visual-learner {
    width: 68%;
    border-radius: 10px;
}

/* Style of footer */
.footer{
    grid-area: footer;
    height: 69rem;
}
.footer hr:first-child {
    margin-top: 5rem;
}
.button-wrapper {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
    width: 93%;
    margin: auto;
}
.button-wrapper .button {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 5px;
    padding: .7em 0;
    background-color: #282a35;
}
.button-wrapper .button:hover {
    background-color: #059862;
}
.reference-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95%;
    margin: auto;
}
.reference-wrapper p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1em;
}
.reference-wrapper a {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom:.2em;
}
.reference-wrapper a:hover {
    text-decoration-line: underline;
}
.bottom {
    width: 95%;
    margin: auto;
}
.bottom .link {
    display: inline;
}
.bottom a, .bottom p {
    color:#666666;
}

.corner-note {
    display: flex;
    margin-bottom: 2rem;
}
#note-block {
    margin-left: auto;
    /* margin-right: 3.5em; */
    font-size: 1.1rem;
}
.bottom-note {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.bottom-note p {
    text-align: center;
}
.bottom-note a:hover {
    text-decoration-line: underline;
}
.bottom #home-image {
    display: block;
    margin: auto;   
}

/* Responsive styling */
@media only screen and (max-width: 2100px) {
    #django {
        display:none;
    }
}
@media only screen and (max-width: 2000px) {
    #jquery {
        display:none;
    }
}
@media only screen and (max-width: 1900px) {
    #r {
        display: none;
    }
}
@media only screen and (max-width: 1800px) {
    #react {
        display: none;
    }
    #upgrade {
        display: none;
    }
}
@media only screen and (max-width: 1700px) {
    #Cs {
        display: none;
    }
}
@media only screen and (max-width: 1600px) {
    #Cpp {
        display: none;
    }
    #certified {
        display: none;
    }
}
@media only screen and (max-width: 1500px) {
    #C {
        display: none;
    }
}
@media only screen and (max-width: 1400px) {
    #W3 {
        display: none;
    }
    #freeWebsite {
        display: none;
    }
}
@media only screen and (max-width: 1300px) {
    #HowTo {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    #bootstrap {
        display: none;
    }
    #video {
        display: none;
    }
    body {
        display:grid;
        grid-template-areas: 
            'header'
            'nav_bar'
            'main'
            'right_side_bar'
            'footer';
        grid-template-columns:100%;
    }
    #make-progress {
        width: 20rem;
    }
    #hexagon {
        width: 8rem;
    }
    #get-certified {
        width: 20rem;
    }
    .right-sidebar .button {
        width: 20rem;
    }
    #visual-learner {
        width: 20rem;
    }
    .nav_bar .menu {
        display: inline-block;
    }
    #menu-icon {
        font-weight: 700;
    }
    .button-wrapper {
        grid-template-columns:1fr;
        gap: 5px;
    }
    .reference-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 1100px) {
    #php {
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    #exercise {
        display: none;
    }
    #java {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    #python {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    #reference {
        display: none;
    }
    #tutorial {
        display: none;
    }
    #menu {
        display:block
    }
}
@media only screen and (max-width: 700px) {
    #sql {
        display: none;
    }
    .reference-wrapper {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 650px) {
    #javascript {
        display: none;
    }
    .ref-grid {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 550px) {
    .CSS {
        display: none;
    }
}
