body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

/* Style of header */
div.header {
    background-color:white;
}
div.header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.header ul li{
    float:left;
}
div.header a{
    text-decoration: none;
    font-size:1.5rem;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* Style of header button on the left */
div.header a.leftButton{
    background-color: white;
    color:black;
    padding:1.5em 0.5em 1.5em 1em;
    text-align: center;
}
div.header a.leftButton:hover {
    background-color: #04aa6d;
    color: white;
}
div.header a.leftButton i{
    font-size: 1.8em;
    vertical-align: middle;
}
#home-image{
    height:80px;
    width:95px;
    margin: 0.7em 1.3em 0.5em 1.2em;
}
#video{
    padding:1.75em 0.8em 1.9em 1em;
}
/* Style of header button on the right */
div.header ul li:nth-last-child(-n+4) {
    float:right;
}
div.header a.rightButton{
    margin: 1em 1em 1em 0.01em;
    border-radius: 1.5em;
    color:black;
}
#logIn{
    background-color: #04aa6d;
    padding: 0.8em 2.55em;
    color: white;
}
#logIn:hover{
    background-color: #059862;
}
#freeWebsite{
    background-color: #fff4a3;
    padding: 0.8em 1.6em;
}
#freeWebsite:hover{
    background-color: #fff080;
}
#certified{
    background-color: #ffc0c7;
    padding: 0.8em 1.1em;
}
#certified:hover{
    background-color: #ffb3bb;
}
#upgrade{
    background-color: black;
    color: white;
    padding: 0.8em 1em;
}
#upgrade:hover{
    background-color: #616161;
}

/* Style of navigation bar */
div.nav_bar{
    clear:both;
    background-color:black;
    color:white;
    height:3em;
    position:sticky;
    top:0;
}
div.column {
    display:flex;
}
div.column > .left-sidebar {
    background-color: aqua;
    flex-basis:300px;
}
div.column > .middle-sidebar {
    background-color: yellow;
    flex-grow:1;
    height:100em;
    font-size:30px;
}
div.column > .right-sidebar {
    background:pink;
    flex-basis: 300px;
}